streamlit
llama-index
llama-index-llms-openrouter
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-postprocessor-sentence-transformers
python-dotenv
chromadb
python-docx
python-pptx
pandas
openpyxl
pytesseract
pdf2image
pillow
protobuf==3.20.3 
